<link href="assets/style/header.css" rel="stylesheet" />
<script>
  $(document).ready(function() {
    $('.main-container').prepend('<header><h1><img class="large" src="images/logo-gemeente-amsterdam-large.svg" alt="Digital Urban Planning Team" /><img class="small" src="images/logo-gemeente-amsterdam-small.svg" alt="Digital Urban Planning Team" /><span class="sc-52313036-5 kXiQse">Digital Urban Planning Team</span></h1></header>');
  });
</script>
<link href="https://static.amsterdam.nl/fonts/fonts.css" rel="stylesheet" />
<script src="https://static.amsterdam.nl/fonts/mtiFontTrackingCode.min.js"></script>
